.shadow-list {
    border: 3px solid #444;
    height: 260px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.shadow-list-item { 
    position: relative;
    display: block;
 }
.shadow-list-item span {
    display: block;
    text-align: center;
    background-color: #2b2b2b;
    border-bottom: 2px solid #202020;
    padding: 2px 0;
    transition: filter 0.1s;
}
.shadow-list-item span:hover, .arrows div:hover  {
    cursor: pointer;
    filter: brightness(120%);
}
.shadow-list-item .remove {
    position: absolute;
    top: 45%; right: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 0 4px;
    transition: color 0.1s;
}
.shadow-list-item .remove:hover { color: #fff; }
.shadow-list-button { border: 3px solid #494949; padding: 5px 20px; }
.shadow-list-button:hover { border: 3px solid #555; }
#shadow-options {
    height: 415px;
    width: 370px;
}
#shadow-info {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 230px;
}
.arrows {
    position: absolute;
    top: 50%; left: 5px;
    transform: translateY(-59%);
}
.arrows div {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.arrows div:first-child {
    border-bottom: 10px solid #ddd;
    margin-bottom: 5px;
}
.arrows div:last-child {
    border-top: 10px solid #ddd;
}