@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.window {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    min-height: 565px;
    width: 800px;
    background-color: #333;
    z-index: 100;
    box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
    padding: 0 35px;
    border-radius: 5px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}
.window h1 { margin-bottom: -15px; }
.window p { font-family: 'Nunito', sans-serif; font-size: 20px; }
.window button {
    background-color: #2f2f2f;
    border: 3px solid #262626;
}
.window button:hover { background-color: #262626; border: 3px solid #202020; }
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    background-color: #444;
    padding: 8px;
    border-radius: 10px;
    outline: none; /* Chwilowo */
    color: white;
    width: 90%;
    height: 300px;
    resize: none;
    margin-bottom: 10px;
}
.windowQuit {
    position: absolute;
    top: 5px; right: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 29px;
    color: #ddd;
    transition: 0.15s;
}
.windowQuit:hover { color: #fff; cursor: pointer; }
.blur {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    backdrop-filter: blur(2px);
    opacity: 0;
    z-index: -90;
    transition: opacity 0.3s;
}
#javascriptError {
    opacity: 1;
    display: block;
}
#javascriptError-background-blur {
    opacity: 1;
    z-index: 1;
}